<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
	<li>
		<a href="index.html">Home</a>
	</li>
  <li><a href="toc.html">Table of Contents</a></li>
	<li class="dropdown">
		<a href="#" data-toggle="dropdown" class="dropdown-toggle">General Principles and Design</a>
		<ul class="dropdown-menu">
			<li>
				<a href="principles.html">General Principles</a>
			</li>
			<li>
				<a href="design.html">Design Conventions</a>
			</li>
			<li>
				<a href="knownIssues.html">Known Issues and Future Development</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="ipsStructure.html">The "IPS"</a>
	</li>
	<li class="dropdown">
		<a href="#" data-toggle="dropdown" class="dropdown-toggle">FHIR Artifacts</a>
		<ul class="dropdown-menu">
			<li>
				<a href="StructureDefinition-Composition-uv-ips.html">The IPS Composition</a>
			</li>
			<li>
				<a href="profiles.html">IPS library</a>
			</li>
			<li>
				<a href="datatypes.html">Datatypes</a>
			</li>
			<li>
				<a href="extensions.html">Extensions</a>
			</li>
			<li>
				<a href="terminology.html">Terminology</a>
			</li>
            <li>
		      <a href="examples.html">Examples</a>
	       </li>
		</ul>
	</li>

	<li>
		<a href="downloads.html">Downloads</a>
	</li>
    <li>
         <a href="copyrights.html">Copyrights</a>
    </li>
</ul>